#define APSTUDIO_READONLY_SYMBOLS 0
#define IDC_STATIC -1

#include "resource.h"
#include "afxres.h"

LANGUAGE 9,1

CLIENTDLG DIALOGEX 0,0,244,111
CAPTION "CLIENT"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
BEGIN
  CONTROL "Send",IDSEND,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,203,90,36,16
  CONTROL "Connect",IDCONNECT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,206,2,34,18
  CONTROL "IP:",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_CENTER,3,5,20,9
  CONTROL "",IDIP,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,24,2,124,18,WS_EX_CLIENTEDGE
  CONTROL "Port",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP|SS_CENTER,149,4,19,12
  CONTROL "",IDPORT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,171,2,28,18,WS_EX_CLIENTEDGE
  CONTROL "List1",IDMESSLIST,"SysListView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|LVS_REPORT,9,25,226,58
  CONTROL "",IDMESSTEXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,9,90,188,16,WS_EX_CLIENTEDGE
END

